{:paths ["src"]
 :deps {org.clojure/clojure             {:mvn/version "1.10.1"}
        org.clojure/tools.logging       {:mvn/version "0.3.1"}
        http-kit                        {:mvn/version "2.3.0"}
        cheshire                        {:mvn/version "5.8.1"}
        com.zaxxer/HikariCP             {:mvn/version "3.3.1"}
        org.postgresql/postgresql       {:mvn/version "42.2.5"}
        org.clojure/java.jdbc           {:mvn/version "0.7.9"}
        honeysql                        {:mvn/version "0.9.4"}
        nilenso/honeysql-postgres       {:mvn/version "0.2.5"}
        ring/ring-codec                 {:mvn/version "1.1.2"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.0-beta2"}
                               matcho            {:mvn/version "0.1.0-RC6"}}}

           :test {:extra-paths ["test"]
                  :extra-deps {matcho
                               {:mvn/version "0.1.0-RC6"}

                               com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
